<mat-toolbar color="primary">
    <mat-icon class="header-icon">alarm</mat-icon>
    ALARM Clock
</mat-toolbar>

<section class="app-main">
    <app-clock [now]="clock$ | async"></app-clock>
    <app-alarm-input (add)="handleAlarmAdd($event)"></app-alarm-input>
    <app-alarm-list [dataSource]="alarms$ | async"
                    (toggleAlarm)="handleAlarmToggle($event)"
                    (cancelAlarm)="handleAlarmCancel($event)"></app-alarm-list>
</section>
<audio #alarmAudio src="../assets/audio/alarm.wav" type="audio/wav" loop id="alarm_audio"></audio>